* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.about-container {
  margin: 20px 50px;
  color: white;
  font-family: "Droid Serif", serif;
}

.about {
  font-size: 80px;
  font-weight: bold;
}

.name {
  margin-bottom: 40px;
  font-size: 40px;
}

.bio {
  margin: 25px 0;
  line-height: 1.75;
  font-family: "游明朝体", "MS明朝";
  font-size: 20px;
}

.icon-container {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
}

.twitter-container {
  margin-right: 10px;
}

.twitter {
  width: 45px;
  height: 45px;
}

.github-container {
  margin-left: 10px;
}

.github {
  width: 45px;
  height: 45px;
}

.skill-container {
  position: absolute;
  right: 50px;
  bottom: 20px;
  color: white;
  font-family: "Droid Serif", serif;
}

.skill {
  font-size: 80px;
  font-weight: bold;
}