* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #600b14;
  border: solid 12.5px #a3f0e7;
}

@media (max-width: 1200px) {
  body::before {
    content: "S.Yamamoto PortfolioSite.\AThis website is for PC only.\APlease view in full screen.";
    white-space: pre;
    line-height: 1.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #fff;
    font-size: clamp(20px, 5vw, 36px);
    font-family: "游明朝体";
    z-index: 9999;
  }
}

@media (max-height: 700px) {
  body::before {
    content: "S.Yamamoto PortfolioSite.\AThis website is for PC only.\APlease view in full screen.";
    white-space: pre;
    line-height: 1.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #fff;
    font-size: clamp(20px, 5vw, 36px);
    font-family: "游明朝体";
    z-index: 9999;
  }
}
