* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/pop.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  body::before {
    content: "S.Yamamoto PortfolioSite.\AThis website is for PC only.\APlease view in full screen.";
    white-space: pre;
    line-height: 1.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #fff;
    font-size: clamp(20px, 5vw, 36px);
    font-family: "游明朝体";
    z-index: 9999;
  }
}

@media (max-height: 700px) {
  body::before {
    content: "S.Yamamoto PortfolioSite.\AThis website is for PC only.\APlease view in full screen.";
    white-space: pre;
    line-height: 1.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #fff;
    font-size: clamp(20px, 5vw, 36px);
    font-family: "游明朝体";
    z-index: 9999;
  }
}
